<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
    <link href="/output.css" rel="stylesheet" />
    <title>Contact Me</title>
  </head>
  <body class="">
        <!-- Dark theme toggle -->
        <div class="flex justify-end pr-7 pt-5">
            <div
              class="switch px-4 py-1 rounded-full space-x-2 bg-stone-100 hover:bg-stone-200 dark:bg-stone-700 dark:border-transparent border border-stone-300 shadow-sm duration-300"
            >
              <i class="fa-regular fa-sun dark:text-stone-500 cursor-pointer"></i
              ><i class="fa-solid fa-moon text-stone-300 cursor-pointer"></i>
            </div>
          </div>
          <!-- Navbar -->
          <header class="relative z-50">
            <nav class="container mx-auto">
              <div class="flex justify-between items-center px-4 py-4">
          
                <!-- Logo -->
                <a href="/" class="text-4xl font-bold md:text-5xl">Shazid</a>
          
                <!-- Desktop Menu -->
                <div class="hidden md:flex space-x-6">
                  <a href="#about" class="hover:text-orange-400 md:text-xl lg:text-2xl">About</a>
                  <a href="#experience" class="hover:text-orange-400 md:text-xl lg:text-2xl">Experience</a>
                  <a href="#projects" class="hover:text-orange-400 md:text-xl lg:text-2xl">Projects</a>
                  <a href="/blogs" class="hover:text-orange-400 md:text-xl lg:text-2xl">Blog</a>
                  <a href="/contact" class="hover:text-orange-400 md:text-xl lg:text-2xl">Contact Me</a>
                </div>
          
                <!-- Hamburger Button -->
                <button id="hamburger" class="md:hidden flex flex-col gap-1.5">
                  <span class="h-1 w-8 bg-textColorDark dark:bg-textOffWhite block transition-all"></span>
                  <span class="h-1 w-8 bg-textColorDark dark:bg-textOffWhite block transition-all"></span>
                  <span class="h-1 w-8 bg-textColorDark dark:bg-textOffWhite block transition-all"></span>
                </button>
              </div>
          
              <!-- MOBILE MENU (ABSOLUTE) -->
              <div
                id="mobileMenu"
                class="absolute left-0 top-full w-full bg-textOffWhite dark:bg-darkBackground  shadow-lg py-10 px-6 space-y-6 text-lg text-center font-bold transform scale-y-0 origin-top transition-all duration-300 md:hidden"
              >
                <a href="#about" class="block hover:text-orange-400">About</a>
                <a href="#experience" class="block hover:text-orange-400">Experience</a>
                <a href="#projects" class="block hover:text-orange-400">Projects</a>
                <a href="/blogs" class="block hover:text-orange-400">Blog</a>
                <a href="/contact" class="block hover:text-orange-400">Contact Me</a>
              </div>
            </nav>
          </header>
          <!-- Contact form -->
    <section class="max-w-4xl mx-auto mt-20 space-y-4 px-10 ">
      <!-- Contact heading -->
      <h2 class="text-xl text-center py-3 md:text-left md:text-2xl md:font-semibold">
        Thanks for taking the time to reach out. Please submit your query and I
        will get back to you!
      </h2>
      <!-- Contact form-->
      <form action="/contact" method="POST">
        <!-- Container -->
        <div class="space-y-4">
          <!-- Name -->
          <div class="flex flex-col space-y-2">
            <label for="nameID" class="text-xl font-semibold">Name</label>
            <input
              type="text"
              id="nameID"
              name="name"
              placeholder="Enter Name"
              required
              class="text-gray-500 dark:bg-stone-700  ring-1 ring-slate-300 px-2 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 "
            />
          </div>
          <!-- Email id -->
          <div class="flex flex-col space-y-2">
            <label for="emailID" class="text-xl font-semibold">Email</label>
            <input
              type="email"
              name="email"
              id="emailID"
              placeholder="Enter Email"
              required
              class="text-gray-500 ring-1 dark:bg-stone-700 ring-slate-300 px-2 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500"
            />
          </div>

          <!-- Message -->
          <div class="flex flex-col space-y-2">
            <label for="messageID" class="text-xl font-semibold"
              >Tell Me Something Cool</label
            >
            <textarea
              name="message"
              id="messageID"
              cols="30"
              rows="10"
              placeholder="Message"
              required
              class=" text-xl text-gray-500 dark:text-gray-300 dark:bg-stone-700 ring-1 ring-slate-300 px-2 py-3 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500"
            ></textarea>
          </div>
        </div>
        <div class="flex justify-end my-3 ">
            <button
            type="submit"
            class="text-xl font-semibold text-white bg-blue-500 hover:bg-blue-600 px-6 py-2 w-full md:w-32 rounded-md focus:outline-none focus:ring-4 focus:ring:blue-300"
          >
            Send
          </button>
        </div>

      </form>
    </section>
     <!-- Footer Section -->
     <footer class="mt-20 mb-7">
        <div
          class="text-center grid grid-cols-2 md:space-x-10 gap-y-3 md:block text-2xl font-medium"
        >
          <a href="#about" class="hover:text-orange-400 duration-200">About</a>
          <a href="#experience" class="hover:text-orange-400 duration-200"
            >Experience</a
          >
          <a href="#" class="hover:text-orange-400 duration-200">Projects</a>
          <a href="#" class="hover:text-orange-400 duration-200">Blogs</a>
        </div>
        <div class="text-center my-7 py-10 text-4xl md:text-5xl">
          <a href=""><i class="fa-brands fa-github"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
          <a href=""><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <p
          class="font-semibold text-textColorLight text-center mt-10 px-3 md:mt-14"
        >
          Copyright &copy 2025 Shazid. All rights reserved.
        </p>
      </footer>
      <script src="/app.js"></script>
  </body>
</html>
